---
layout: handbook-page-toc
title: "Engineering Analytics Team"
description: "Engineering Analytics Team"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}


This document is to clearly and transparently outline the plan and objective of the new Engineering Analytics team.

The goal of the team is to build and improve on the data capabilities needed to support a highly productive Engineering Division at GitLab. This team leverages our data analytics staffing and applies their efforts to the highest needs of Engineering.

This team will expand and improve on the Engineering specialty of the [Data Analyst job family](https://about.gitlab.com/job-families/finance/data-analyst/#engineering) and will have a clear career matrix to support further career development.

## Team Responsibilities
* Provide efficient data analytics and dashboarding capabilities on top of GitLab’s Data team warehouse infrastructure.
* Own creation, optimization and maintenance of the Engineering Division's and its departments' KPIs and PIs.
* Drive the creation, standardization, and implementation of all performance indicators.
* Propose new data and measurements to provide additional clarity to existing measurements.
* Analyze trends and propose strategic improvements to Engineering Leaders.
* Ensure a smooth and efficient Key Review process with proactive performance indicator preparation.
* Take feedback from stakeholders and iterate to improve Performance Indicators and [Engineering Metrics](/handbook/engineering/metrics).
* Lean on our values and continue to drive towards metric excellence.

## Team Structure

This new team will be a new function under the Quality Department operating as a team of Data Analysts, led by an Engineering Manager reporting to the Quality Department Leader.

```mermaid
graph TD
    A[Quality Department]
    A --> B[Engineering Analytics Team]
    B --> BA[Data Analyst]
    B --> BB[Data Analyst]
    A --> CA(Quality Engineering teams)
    CA --> CAA[Software Engineer in Test]
    CA --> CAB[Software Engineer in Test]
    CA --> CAC[Software Engineer in Test]
    A --> D[Engineering Productivity Team]
    D --> DA[Engineering Productivity Engineer]
    D --> DB[Engineering Productivity Engineer]
    style B fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
    style BA fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
    style BB fill:#bbf,stroke:#f66,stroke-width:2px, color:#fff
```

## How this team operates

While this team operates as a single team reporting to one manager, we emphasize on ensuring the prioritization and needs of Engineering Leaders via stable counterparts.

### Counterpart Assignments

We assign the stable counterpart by Engineering Division’s sub-departments. This is identified by the Engineering Department name assigned to an Analyst title. E.g. `Senior Data Analyst, Development`

| Engineering department | Data domains |
| ------ | ------ |
| `Development` | - MR Rate <br> - Code review/merge times <br> - Merge Request types <br> - Merge request activity and trends |
| `Infrastructure` | - Spend efficiency & forecasting <br> - MTTP <br> - MTTR <br> - Corrective actions & Incidents  <br> - Infrastructure product related metrics <br> - Finance Partnership <br> - [Roadmap](https://about.gitlab.com/blog/2020/10/27/how-we-optimized-our-infrastructure-spend-at-gitlab/) |
| `Quality` | - Defect age <br> -  Bug SLO/SLA <br> - Defect rates <br> - Pipeline efficiency <br> - Issue & Merge Reques type  |
| `UX` | - UX debt age <br> - SUS Scores <br> - Refinement MR rate  |
| `Security` | - Security Vulnerabilities <br> - Security SLA |
| `Support` | - Ticket time to respond <br> - Ticket time to triage |

Data analysts assigned to one area are experts in that area and may not have the knowledge depth in other areas. As such contributing cross domain expertise will only be limited to Sisense charting and not beyond this data layer.

### Bi-weekly sync with assigned counterparts

The Data Analysts counterparts will have bi-weekly meetings with their designated department leader to:
* Review work prioritization
* Capture strategic asks
* Ensure completion of follow up for Key Review

### Weekly review with GitLab’s Data Team

This team will have standing weekly sync with the Data team to:
* Drive to resolution data dependencies
* Propose initiatives to improve our data accuracy and hygiene
* Improve our response time as a whole to our stakeholders
* Board and scheduling work
* This team will continue to use the [Engineering Metrics board](https://gitlab.com/gitlab-com/www-gitlab-com/-/boards/1942495) with DRIs in the team owning the tasks in the assigned counterpart areas in Engineering. 

### Stable Counterpart

The team structure will leverage [stable counterpart](https://about.gitlab.com/handbook/leadership/#stable-counterparts) assignees to ensure proper allocation and attention needed to service all Engineering Departments and Leaders and still promote cross-functional collaboration and ownership of an area.

### Common Responsibilities
In addition to the counterpart relationships, every data analyst on this team is responsible for:
* Operational excellence in Sisense dashboards
* Addressing data representation in-consistency/defects in a timely manner
* Metric representation consistency and ensuring our [guidelines](https://about.gitlab.com/handbook/engineering/performance-indicators/#guidelines) are met
* Showcasing our work transparently to the world via our handbook.
* Improve our handbook pages iteratively, ensure that it’s is up to date
